/* 1css font stack */
$fonts-sansserif: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
$fonts-serif:Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$fonts-monospace:Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
.sansserif{
	font-family: $fonts-sansserif;
}
.serif{
	font-family: $fonts-serif;
}
.monospace{
	font-family: $fonts-monospace;
}